
.login{
	font-size:20px;
	float:right;
}
.menu{
	display:inline-block;
}

.rating{
	text-align:center;
}
.logohr{
	border: black 1px solid ;
}

.poster{
	width:250px;
	height:375px;
	display:block;
}

.title{
	padding-left:10px;
	font-size:20px;
	display:inline;
	vertical-align:top;
	text-align:center;
}
.gerne{
	padding-left:30px;
	padding-right:30px;
	font-size:15px;
}
.movie{
	min-height:540px;
	width:250px;
	overflow:hidden;
	margin:10px;
	display:inline;
	float:left;
	border:2px solid gray;
	border-radius: 15px;
	transition-duration: 0.5s;
	text-align:center;
}
.movie:hover{
	box-shadow: 2px 2px 10px 1px gray; 
	transition-duration: 0.5s;
	transform: translateY(-15px);
}
.age{
	padding-left:5px;
	width:60px;
	height:60px;
	display:inline;
	overflow:hidden;
	float:left;
	vertical-align:top;
}
